- var img = 'img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container
			.full-page--vertical
				.slide
					.flex
						.slide__text
							h2 Title 1
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis libero sint quo nesciunt soluta id quia facilis dolorum aliquid voluptatibus, laudantium nostrum repellendus voluptas minima quod. Dignissimos natus impedit necessitatibus!
							a(href="#") Explore
								<svg width="33" height="8" viewBox="0 0 33 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M32.3536 4.35355C32.5488 4.15829 32.5488 3.84171 32.3536 3.64644L29.1716 0.464464C28.9763 0.269201 28.6597 0.269201 28.4645 0.464464C28.2692 0.659726 28.2692 0.976308 28.4645 1.17157L31.2929 4L28.4645 6.82842C28.2692 7.02369 28.2692 7.34027 28.4645 7.53553C28.6597 7.73079 28.9763 7.73079 29.1716 7.53553L32.3536 4.35355ZM4.37114e-08 4.5L32 4.5L32 3.5L-4.37114e-08 3.5L4.37114e-08 4.5Z" fill="#EAEAEA"/>
								</svg>
						.swiper-container(class="mySwiper")
							.swiper-wrapper
								.swiper-slide
									h3 title 1
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"angalical_soul_197535612_4305796479479822_6028912414737338737_n.jpg", alt="")
								.swiper-slide
									h3 title 2
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"fotografiaporamoroficial_197267737_335628507920656_5678420328979115846_n.jpg", alt="")
								.swiper-slide
									h3 title 3
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"interesnosti73_196296686_196448615566832_926431667095515863_n.jpg", alt="")
								.swiper-slide
									h3 title 4
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"otdih_zhile_abkhazia_gagra_196650075_1785370224967953_8545881994502959835_n.jpg", alt="")
								.swiper-slide
									h3 title 5
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"queen_explores_197901766_530289875000290_4619591645404132563_n.jpg", alt="")
						.swiper-dots
						.swiper-pagination
							.swiper-button-prev
							.swiper-button-next
					img(src=img+"ostrov_okean_vid_sverhu_132860_1920x1080.jpg", alt="")
				.slide
					.flex
						.slide__text
							h2 Title 2
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis libero sint quo nesciunt soluta id quia facilis dolorum aliquid voluptatibus, laudantium nostrum repellendus voluptas minima quod. Dignissimos natus impedit necessitatibus!
							a(href="#") Explore
								<svg width="33" height="8" viewBox="0 0 33 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M32.3536 4.35355C32.5488 4.15829 32.5488 3.84171 32.3536 3.64644L29.1716 0.464464C28.9763 0.269201 28.6597 0.269201 28.4645 0.464464C28.2692 0.659726 28.2692 0.976308 28.4645 1.17157L31.2929 4L28.4645 6.82842C28.2692 7.02369 28.2692 7.34027 28.4645 7.53553C28.6597 7.73079 28.9763 7.73079 29.1716 7.53553L32.3536 4.35355ZM4.37114e-08 4.5L32 4.5L32 3.5L-4.37114e-08 3.5L4.37114e-08 4.5Z" fill="#EAEAEA"/>
								</svg>
						.swiper-container(class="mySwiper_1")
							.swiper-wrapper
								.swiper-slide
									h3 title 1
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"angalical_soul_197535612_4305796479479822_6028912414737338737_n.jpg", alt="")
								.swiper-slide
									h3 title 2
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"fotografiaporamoroficial_197267737_335628507920656_5678420328979115846_n.jpg", alt="")
								.swiper-slide
									h3 title 3
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"interesnosti73_196296686_196448615566832_926431667095515863_n.jpg", alt="")
								.swiper-slide
									h3 title 4
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"otdih_zhile_abkhazia_gagra_196650075_1785370224967953_8545881994502959835_n.jpg", alt="")
								.swiper-slide
									h3 title 5
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"queen_explores_197901766_530289875000290_4619591645404132563_n.jpg", alt="")
						.swiper-dots-1
						.swiper-pagination
							.swiper-button-prev-1
							.swiper-button-next-1
					img(src=img+"pustynia_barhany_pyl_174269_1920x1080.jpg", alt="")
				.slide
					.flex
						.slide__text
							h2 Title 3
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis libero sint quo nesciunt soluta id quia facilis dolorum aliquid voluptatibus, laudantium nostrum repellendus voluptas minima quod. Dignissimos natus impedit necessitatibus!
							a(href="#") Explore
								<svg width="33" height="8" viewBox="0 0 33 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M32.3536 4.35355C32.5488 4.15829 32.5488 3.84171 32.3536 3.64644L29.1716 0.464464C28.9763 0.269201 28.6597 0.269201 28.4645 0.464464C28.2692 0.659726 28.2692 0.976308 28.4645 1.17157L31.2929 4L28.4645 6.82842C28.2692 7.02369 28.2692 7.34027 28.4645 7.53553C28.6597 7.73079 28.9763 7.73079 29.1716 7.53553L32.3536 4.35355ZM4.37114e-08 4.5L32 4.5L32 3.5L-4.37114e-08 3.5L4.37114e-08 4.5Z" fill="#EAEAEA"/>
								</svg>
						.swiper-container(class="mySwiper_2")
							.swiper-wrapper
								.swiper-slide
									h3 title 1
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"angalical_soul_197535612_4305796479479822_6028912414737338737_n.jpg", alt="")
								.swiper-slide
									h3 title 2
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"fotografiaporamoroficial_197267737_335628507920656_5678420328979115846_n.jpg", alt="")
								.swiper-slide
									h3 title 3
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"interesnosti73_196296686_196448615566832_926431667095515863_n.jpg", alt="")
								.swiper-slide
									h3 title 4
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"otdih_zhile_abkhazia_gagra_196650075_1785370224967953_8545881994502959835_n.jpg", alt="")
								.swiper-slide
									h3 title 5
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"queen_explores_197901766_530289875000290_4619591645404132563_n.jpg", alt="")
						.swiper-dots-2
						.swiper-pagination
							.swiper-button-prev-2
							.swiper-button-next-2
					img(src=img+"gorod_noch_panorama_117682_1920x1080.jpg", alt="")
				.slide
					.flex
						.slide__text
							h2 Title 4
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis libero sint quo nesciunt soluta id quia facilis dolorum aliquid voluptatibus, laudantium nostrum repellendus voluptas minima quod. Dignissimos natus impedit necessitatibus!
							a(href="#") Explore
								<svg width="33" height="8" viewBox="0 0 33 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M32.3536 4.35355C32.5488 4.15829 32.5488 3.84171 32.3536 3.64644L29.1716 0.464464C28.9763 0.269201 28.6597 0.269201 28.4645 0.464464C28.2692 0.659726 28.2692 0.976308 28.4645 1.17157L31.2929 4L28.4645 6.82842C28.2692 7.02369 28.2692 7.34027 28.4645 7.53553C28.6597 7.73079 28.9763 7.73079 29.1716 7.53553L32.3536 4.35355ZM4.37114e-08 4.5L32 4.5L32 3.5L-4.37114e-08 3.5L4.37114e-08 4.5Z" fill="#EAEAEA"/>
								</svg>
						.swiper-container(class="mySwiper_3")
							.swiper-wrapper
								.swiper-slide
									h3 title 1
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"angalical_soul_197535612_4305796479479822_6028912414737338737_n.jpg", alt="")
								.swiper-slide
									h3 title 2
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"fotografiaporamoroficial_197267737_335628507920656_5678420328979115846_n.jpg", alt="")
								.swiper-slide
									h3 title 3
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"interesnosti73_196296686_196448615566832_926431667095515863_n.jpg", alt="")
								.swiper-slide
									h3 title 4
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"otdih_zhile_abkhazia_gagra_196650075_1785370224967953_8545881994502959835_n.jpg", alt="")
								.swiper-slide
									h3 title 5
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"queen_explores_197901766_530289875000290_4619591645404132563_n.jpg", alt="")
						.swiper-dots-3
						.swiper-pagination
							.swiper-button-prev-3
							.swiper-button-next-3
					img(src=img+"vodopad_reka_les_209895_1920x1080.jpg", alt="")
				.slide
					.flex
						.slide__text
							h2 Title 5
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis libero sint quo nesciunt soluta id quia facilis dolorum aliquid voluptatibus, laudantium nostrum repellendus voluptas minima quod. Dignissimos natus impedit necessitatibus!
							a(href="#") Explore
								<svg width="33" height="8" viewBox="0 0 33 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M32.3536 4.35355C32.5488 4.15829 32.5488 3.84171 32.3536 3.64644L29.1716 0.464464C28.9763 0.269201 28.6597 0.269201 28.4645 0.464464C28.2692 0.659726 28.2692 0.976308 28.4645 1.17157L31.2929 4L28.4645 6.82842C28.2692 7.02369 28.2692 7.34027 28.4645 7.53553C28.6597 7.73079 28.9763 7.73079 29.1716 7.53553L32.3536 4.35355ZM4.37114e-08 4.5L32 4.5L32 3.5L-4.37114e-08 3.5L4.37114e-08 4.5Z" fill="#EAEAEA"/>
								</svg>
						.swiper-container(class="mySwiper_4")
							.swiper-wrapper
								.swiper-slide
									h3 title 1
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"angalical_soul_197535612_4305796479479822_6028912414737338737_n.jpg", alt="")
								.swiper-slide
									h3 title 2
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"fotografiaporamoroficial_197267737_335628507920656_5678420328979115846_n.jpg", alt="")
								.swiper-slide
									h3 title 3
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"interesnosti73_196296686_196448615566832_926431667095515863_n.jpg", alt="")
								.swiper-slide
									h3 title 4
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"otdih_zhile_abkhazia_gagra_196650075_1785370224967953_8545881994502959835_n.jpg", alt="")
								.swiper-slide
									h3 title 5
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"queen_explores_197901766_530289875000290_4619591645404132563_n.jpg", alt="")
						.swiper-dots-4
						.swiper-pagination
							.swiper-button-prev-4
							.swiper-button-next-4
					img(src=img+"vodopad_les_derevia_140045_1920x1080.jpg", alt="")
				.slide
					.flex
						.slide__text
							h2 Title 6
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis libero sint quo nesciunt soluta id quia facilis dolorum aliquid voluptatibus, laudantium nostrum repellendus voluptas minima quod. Dignissimos natus impedit necessitatibus!
							a(href="#") Explore
								<svg width="33" height="8" viewBox="0 0 33 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M32.3536 4.35355C32.5488 4.15829 32.5488 3.84171 32.3536 3.64644L29.1716 0.464464C28.9763 0.269201 28.6597 0.269201 28.4645 0.464464C28.2692 0.659726 28.2692 0.976308 28.4645 1.17157L31.2929 4L28.4645 6.82842C28.2692 7.02369 28.2692 7.34027 28.4645 7.53553C28.6597 7.73079 28.9763 7.73079 29.1716 7.53553L32.3536 4.35355ZM4.37114e-08 4.5L32 4.5L32 3.5L-4.37114e-08 3.5L4.37114e-08 4.5Z" fill="#EAEAEA"/>
								</svg>
						.swiper-container(class="mySwiper_5")
							.swiper-wrapper
								.swiper-slide
									h3 title 1
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"angalical_soul_197535612_4305796479479822_6028912414737338737_n.jpg", alt="")
								.swiper-slide
									h3 title 2
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"fotografiaporamoroficial_197267737_335628507920656_5678420328979115846_n.jpg", alt="")
								.swiper-slide
									h3 title 3
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"interesnosti73_196296686_196448615566832_926431667095515863_n.jpg", alt="")
								.swiper-slide
									h3 title 4
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"otdih_zhile_abkhazia_gagra_196650075_1785370224967953_8545881994502959835_n.jpg", alt="")
								.swiper-slide
									h3 title 5
									.rating
										.star 
										.star
										.star
										.star
										.star
									img(src=img+"queen_explores_197901766_530289875000290_4619591645404132563_n.jpg", alt="")
						.swiper-dots-5
						.swiper-pagination-5
							.swiper-button-prev-5
							.swiper-button-next-5
					img(src=img+"paporotnik_rastenie_fioletovyj_141005_1920x1080.jpg", alt="")
			.slick-dots--dop
				span.index-slider 01
				span /
				span.all-slider 06
		include blocks/footer.pug
		include blocks/scripts.pug